@model KetabeKhoob.Razor.ViewModels.Users.Addresses.CreateUserAddressViewModel


<form method="post" data-ajax="true" asp-page="Index" asp-page-handler="AddAddress">
    <div class="row">
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.Shire)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.City)
        </div>
        <div class="col-lg-12 mb-3">
            @Html.EditorFor(x => x.PostalCode)
        </div>
        <div class="col-lg-12 mb-3">
            @Html.EditorFor(x => x.PostalAddress)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.Name)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.Family)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.PhoneNumber)
        </div>
        <div class="col-lg-6 mb-3">
            @Html.EditorFor(x => x.NationalCode)
        </div>
        <button type="submit" class="btn btn-primary mr-3">ذخیره تغییرات
            <i class="fad fa-money-check-edit"></i>
            </button>
    </div>
</form>
